/* Define standard variables and values for website */
$bgcolor: rgb(36, 119, 147);
$textcolor: darkblue;
$fontsize: 18px;

/* Use the variables */
.container-fluid {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}